<hr>
<h1>Vote por su vengador favorito</h1>
<hr>

<h2>Mayor cantidad de votos</h2>

<hr>
<div  class="row row-cols-1 row-cols-md-2 g-4">
  <div class="card" style="width: 18rem;">
    <h3>Iron Man</h3>
    <img src="./assets/img/IronMan.webp" class="card-img-top" alt="...">
    <a id = 1 href="#" class="btn btn-dark" (click)="contarIronMan()">Like</a>
    <hr>
    <a id = 1 href="#" class="btn btn-dark" (click)="contarIronManDislike()">Dislike</a>
    <div class="card-body">
      <h5>{{a}}</h5>
      <h5>{{ad}}</h5>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <h3>Capitan America</h3>
    <img src="./assets/img/CapAmerica.webp" class="card-img-top" alt="...">
    <a id=2 href="#" class="btn btn-dark" (click)="contarCapAmerica()">Like</a>
    <a id = 1 href="#" class="btn btn-dark" (click)="contarCapAmericaDislike()">Dislike</a>
    <div class="card-body">
      <h5>{{b}}</h5>
      <h5>{{bd}}</h5>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <h3>Thor</h3>
    <img src="./assets/img/Thor.webp" class="card-img-top" alt="...">
    <a id=2 href="#" class="btn btn-dark" (click)="contarThor()">Like</a>
    <a id = 1 href="#" class="btn btn-dark" (click)="contarThorDislike()">Dislike</a>
    <div class="card-body">
      <h5>{{c}}</h5>
      <h5>{{cd}}</h5>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <h3>Spider Man</h3>
    <img src="./assets/img/SpiderMan.webp" class="card-img-top" alt="...">
    <a id=2 href="#" class="btn btn-dark" (click)="contarSpiderMan()">Like</a>
    <a id = 1 href="#" class="btn btn-dark" (click)="contarSpiderManDislike()">Dislike</a>
    <div class="card-body">
      <h5>{{d}}</h5>
      <h5>{{dd}}</h5>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <h3>Loki</h3>
    <img src="./assets/img/Loki.webp" class="card-img-top" alt="...">
    <a id=2 href="#" class="btn btn-dark" (click)="contarLoki()">Like</a>
    <a id = 1 href="#" class="btn btn-dark" (click)="contarLokiDislike()">Dislike</a>
    <div class="card-body">
      <h5>{{e}}</h5>
      <h5>{{ed}}</h5>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <h3>Hulk</h3>
    <img src="./assets/img/Hulk.webp" class="card-img-top" alt="...">
    <a id=2 href="#" class="btn btn-dark" (click)="contarHulk()">Like</a>
    <a id = 1 href="#" class="btn btn-dark" (click)="contarHulkDislike()">Dislike</a>
    <div class="card-body">
      <h5>{{f}}</h5>
      <h5>{{fd}}</h5>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <h3>Doctor Strange</h3>
    <img src="./assets/img/DoctorStrange.webp" class="card-img-top" alt="...">
    <a id=2 href="#" class="btn btn-dark" (click)="contarDoctorStrange()">Like</a>
    <a id = 1 href="#" class="btn btn-dark" (click)="contarDoctorStrangeDislike()">Dislike</a>
    <div class="card-body">
      <h5>{{g}}</h5>
      <h5>{{gd}}</h5>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <h3>Capitana Marvel</h3>
    <img src="./assets/img/CapMarvel.webp" class="card-img-top" alt="...">
    <a id=2 href="#" class="btn btn-dark" (click)="contarCapitanaMarvel()">Like</a>
    <a id = 1 href="#" class="btn btn-dark" (click)="contarCapitanaMarvelDislike()">Dislike</a>
    <div class="card-body">
      <h5>{{h}}</h5>
      <h5>{{hd}}</h5>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <h3>Viuda Negra</h3>
    <img src="./assets/img/BlackWidow.webp" class="card-img-top" alt="...">
    <a id=2 href="#" class="btn btn-dark" (click)="contarViudaNegra()">Like</a>
    <a id = 1 href="#" class="btn btn-dark" (click)="contarViudaNegraDislike()">Dislike</a>
    <div class="card-body">
      <h5>{{i}}</h5>
      <h5>{{id}}</h5>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <h3>Pantera Negra</h3>
    <img src="./assets/img/BlackPanther.webp" class="card-img-top" alt="...">
    <a id=2 href="#" class="btn btn-dark" (click)="contarPanteraNegra()">Like</a>
    <a id = 1 href="#" class="btn btn-dark" (click)="contarPanteraNegraDislike()">Dislike</a>
    <div class="card-body">
      <h5>{{j}}</h5>
      <h5>{{jd}}</h5>
    </div>
  </div>
</div>
<br>
<a class="nav-link" href="./inicio">Ver Resultados</a>


